:root {
  --background-color: #ffffff;
  --light-gray: #c4c4c4;
  --gray: #4f4f4f;
  --dark-gray: #333333;
  --orange: #f2994a;
  --border-radius: 2rem;
  --font-text: "Montserrat", sans-serif;
  --font-title: "Playfair Display", sans-serif;
}
